.container{
    width: 300px;
    margin: auto;
    background: rgb(37, 33, 33);
    color: rgb(238, 234, 234);
    padding: 10px;
    border-radius: 8px;
}
input:not([type= "checkbox"]),
select{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-top: 7px;
    border: none;
    border-bottom: 2px solid #fff;
    background: #c2c0c0;
    outline: none;
    caret-color: tomato;
}
::placeholder{
    color: rgb(235, 232, 232);
    font-size: 10px;
}
option{
    color: white;
}
select{
    color: rgb(240, 234, 234);
    margin-bottom: 10px;
    font-size: 10px;
    color: rgb(235, 232, 232);
}
label{
    font-size: 10px;
    color: rgb(235, 232, 232);
}
input[type=submit]{
    border: none;
    background: rgb(241, 75, 75);
    cursor: pointer;
    border-radius: 7px;
    margin-top: 10px;
    color: white;
}
h1{
    text-align: center;
    font-weight: 400;
    font-family: sans-serif;
}